/.org-id-locations
/auto-save-list/
/emacs-config.el
/recentf
/sandbox/
/straight/
/test-results.txt
/testdata/simple-haskell-project/dist-newstyle/
/transient/
/elpa/
/eshell/
/savehist
testdata/simple-haskell-project/testdata/*fly*
