/.org-id-locations
/auto-save-list/
/emacs-config.el
/recentf
/sandbox/
/straight/
/test-results.txt
/testdata/simple-haskell-project/dist-newstyle/
/transient/
/elpa/
/eshell/
/savehist
testdata/simple-haskell-project/testdata/*fly*
testdata/simple-haskell-project/.stack-work
testdata/simple-haskell-project/*_flymake.hs
tramp
graveyard
url/cookies
# might want to keep this one?
bookmarks
*.elc
/doom.d/config.el
